%h3= _("LEAVE_MESSAGE")
- form_for(:entry, :action => url( :controller => "entries", :action => "create")) do
  %p 
    = text_control(:author,  :size => 40)
    %small
      = label _("LABEL_NAME_REQUIRED"), "", :for => "email"
  = handleError(@entry, :author)
  %p
    = text_control(:email,  :size => 40)
    %small
      = label _("LABEL_MAIL_REQUIRED"), "", :for => "email"
  = handleError(@entry, :email)

  %p
    = text_area_control(:text,   :rows => 10, :cols => "100%")
  = handleError(@entry, :text)

  = recaptcha_tags

  = submit_button(_("PREVIEW_BUTTON_TEXT"), :name => "preview_button")
  = submit_button(_("POST_BUTTON_TEXT"),    :name => "post_button")
