%h3= _("LEAVE_MESSAGE")
= form_for(:entry, :action => url( :controller => "entries", :action => "create")) do
  %p 
    = text_field(:author,  :size => 40)
    %small
      %label{ :for => "email" }
        = _("LABEL_NAME_REQUIRED")
  = handleError(@entry, :author)
  %p
    = text_field(:email,  :size => 40)
    %small
      %label{ :for => "email" }
        = _("LABEL_MAIL_REQUIRED")
  = handleError(@entry, :email)

  %p
    = text_area(:text,   :rows => 10, :cols => "100%")
  = handleError(@entry, :text)

  = recaptcha_tags

  = submit(_("PREVIEW_BUTTON_TEXT"), :name => "preview_button")
  = submit(_("POST_BUTTON_TEXT"),    :name => "post_button")
