.entriesblock
  %p
    = _"EDIT_ENTRY" 
    (
    = link_to _('CANCEL'), url( :controller => "admin/entries", :action => "index", :id => "#{@entry.id}" )
    )
  = form_for(:entry, :action => url( :controller => "admin/entries", :action => "edit", :id => "#{@entry.id}")) do
    %p
      = text_field(:author,  :size => 40)
      %small
        %label{ :for => "author" }
          = _("LABEL_NAME_REQUIRED")
      = handleError(@entry, :author)
    %p
      = text_field(:email,  :size => 40)
      %small
        %label{ :for => "email" }
          = _("LABEL_MAIL_REQUIRED")
      = handleError(@entry, :email)
    %p
      = text_area(:text,   :rows => 10, :cols => "100%")
      = handleError(@entry, :text)
    = submit(_"PREVIEW_BUTTON_TEXT", :name => "preview_button")
    = submit(_"POST_BUTTON_TEXT", :name => "post_button")

  %ol.entrieslist= partial( "shared/entry", :with => @entry )
